version: '3.9'

services:
  db:
    image: postgres:16
    container_name: quiz_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quiz
    ports:
      - "5432:5432"
    volumes:
      - quiz_data:/var/lib/postgresql/data

  

volumes:
  quiz_data:
